@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Netflix Sans";
    font-weight: 300;
    src: url("https://nooodyfr.github.io/NetflixSansLight.otf") format("otf");
}
@font-face {
    font-family: "Netflix Sans";
    font-weight: 500;
    src: url("https://nooodyfr.github.io/NetflixSansMedium.otf") format("otf");
}
@font-face {
    font-family: "Netflix Sans";
    font-weight: 700;
    src: url("https://nooodyfr.github.io/NetflixSansBold.otf") format("otf");
}

* {
    font-family: "Roboto";
}

.navbar-brand {
    font-family: "Netflix Sans" !important;
    font-weight: 700;
}